@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#app {
    min-height: 100%;
}

body {
    margin: 0;
    font-family: theme("fontFamily.sans");
    background: oklch(var(--b1));
    color: oklch(var(--bc));
}
